.intro {
  display: flex;
  height: 80vh;
  margin-top: 1.5rem;
  padding: 0 0rem 0 2rem;
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
}

@media screen and (max-width: 500px) {
  .intro {
    flex-direction: column;
  }
}


.i-left {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  margin-top: 150px;
}
.i-name {
  display: flex;
  flex-direction: column;
}
.i-name > :nth-child(1) {
  font-weight: bold;
  color: var(--black);
  font-size: 3rem;
}
.i-name > :nth-child(2) {
  font-weight: bold;
  color: var(--orange);
  font-size: 3rem;
}
.i-name > :nth-child(3) {
  font-weight: 100;
  color: var(--gray);
  font-size: 14px;
  margin-top: 10px;
}
.i-button {
  width: 8rem;
  height: 3rem;
}
.i-right {
  flex: 1;
  position: relative;
  /* left: -4%; */
  background-image: linear-gradient(180deg, #fd9e0f ,#d4f9062e, #d8f90600);;
}
.i-right > * {
  position: absolute;
  z-index: 1;
}
.i-right > :nth-child(1) {
  transform: scale(1.6);
  left: 50%;
  top: 38.5%;
}
.i-right > :nth-child(2) {
  transform: scale(1.2);
    left: 4rem;
    top: 13.9rem;

}
.i-right > :nth-child(3) {
  padding-bottom: 1154px;
  transform: scale(1.1);
  left: -1%;
}

@media screen and (max-width: 500px) {
  .i-right > :nth-child(3) {
    padding-bottom: 1154px;
    transform: scale(0.9);
    left: -80%;
  }
}

.i-right > :nth-child(4) {
  padding: 0px;
  transform: scale(0.7);
  left: -24%;
  top: -19%;
  border-radius: 50%;
}
.blur {
  position: absolute;
  width: 22rem;
  display: none;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(72px);
  z-index: -9;
  top: -17%;
  left: 66%;
}
.middle{
 background: white; 
 height: 50%;
 position: relative;
    top: 30%;
    z-index: 1;
    left: 5%;
    width: 172px;
   
}