/* .n-wrapper {
  height: 110px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1100px) {
  .n-wrapper {
    display: none;
  }
}
.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n-right {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 400;
}
.n-list {
  flex: 10;
}
.n-list > ul {
  display: flex;
  gap: 2rem;
  margin: 4rem;
}
.n-list > ul > a:hover {
  cursor: pointer;
  color: var(--orange);
}
.n-list > ul > a {
  text-decoration: none;
  color: #242d49;
}

.active {
  color: blue;
}
.navLink {
  width: 128px;
} */

.n-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .n-wrapper {
    /* display: none; */
    flex-direction: column;
  }
}

.nav-ul {
  display: flex;
}

@media screen and (max-width: 650px) {
  .nav-ul {
    flex-direction: column;
  }
}

.n-right {
  display: flex;
}

@media screen and (max-width: 650px) {
  .n-right {
    flex-direction: column;
  }
}
.n-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 34px;
}
.n-left{
  
}
.n-left>img{
  transform: scale(0.9);

}

@media screen and (max-width: 650px) {
  .n-list {
    flex-direction: column;
    align-items: unset;
  }
}

.nav-li {
  padding: 10px;
}
.navlink{
  color: black !important;
}
.n-name{
  font-size: 1.8rem;
}